<!DOCTYPE html>
<html>
<head>
    <% include ../partials/genericheader.ejs %>
</head>

<body>

<% include ../partials/topnav.ejs %>
      <!--<video autoplay loop class="header-video">
        <source src="vdo/install.mp4" type="video/mp4">
      </video>-->
      <div class="backgroundVideo">
        <video autoplay loop>
          <source src="vdo/install.mp4" type="video/mp4">
        </video>
      </div>

      <div class="content-section-a">
        <div class="container">
          <div class="center-block center-text">
            <h1>Our Package</h1>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-xs-6 col-sm-4 center-text fix-height">
                <img class="icon-responsive center-img" src="img/guarantee.png" alt="">
                <hr class="section-heading-spacer-center">
                <div class="clearfix"></div>
                <h2 class="section-heading center-text">รายครั้ง</h2>
                <br>
                <br>
                <p>ล้างคอยล์เย็นและคอยล์ร้อน</p>
                <hr class="section-spacer-center">
                <div class="clearfix"></div>
                <p>ตรวจสอบการรั่วของน้ำยาแอร์ ฟรี!</p>
                <p class="lead fix-bottom" style="color:#00ccff;">500 บาท/ครั้ง</p>
            </div>
            <div class="col-xs-6 col-sm-4 center-text fix-height">
              <img class="icon-responsive center-img" src="img/guarantee.png" alt="">
              <hr class="section-heading-spacer-center">
              <div class="clearfix"></div>
              <h2 class="section-heading center-text">สัญญาล้างรายปี เล็ก</h2>
              <br>
              <br>
              <p style="color:#00ccff;">ล้างใหญ่ 2ครั้ง บริการ 2 ครั้ง</p>
              <hr class="section-spacer-center">
              <div class="clearfix"></div>
              <p>ล้างใหญ่ : ล้างคอยล์เย็นและคอยล์ร้อน</p>
              <hr class="section-spacer-center">
              <div class="clearfix"></div>
              <p>บริการ : เป่า ล้างฟิลเตอร์ 2 ครั้ง</p>
              <hr class="section-spacer-center">
              <div class="clearfix"></div>
              <p>ตรวจสอบการรั่วของน้ำยาแอร์ ฟรี!</p>
              <p class="lead fix-bottom" style="color:#00ccff;">1200 บาท</p>
            </div>
            <div class="col-xs-6 col-sm-4 center-text fix-height">
              <img class="icon-responsive center-img" src="img/guarantee.png" alt="">
              <hr class="section-heading-spacer-center">
              <div class="clearfix"></div>
              <h2 class="section-heading center-text">สัญญาล้างรายปี ใหญ่</h2>
              <br>
              <br>
              <p style="color:#00ccff;">ล้างใหญ่ 2ครั้ง บริการ 4 ครั้ง</p>
              <hr class="section-spacer-center">
              <div class="clearfix"></div>
              <p>ล้างใหญ่ : ล้างคอยล์เย็นและคอยล์ร้อน</p>
              <hr class="section-spacer-center">
              <div class="clearfix"></div>
              <p>บริการ : เป่า ล้างฟิลเตอร์ 2 ครั้ง</p>
              <hr class="section-spacer-center">
              <div class="clearfix"></div>
              <p>ตรวจสอบการรั่วของน้ำยาแอร์ ฟรี!</p>
              <p class="lead fix-bottom" style="color:#00ccff;">1500 บาท</p>
            </div>
          </div>
        </div>
      </div>


      <% include ../partials/footer.ejs %>
</body>
</html>
